table[data-pageitemid="12165884"] {
  border: 1px solid #a94442;
  background-color: #f2dede;
  color: #000000;
  padding: 5px 5px 5px 5px;
  border-radius: .25rem;
}

table[data-pageitemid="12256240"] {
  border: 1px solid #a94442;
  background-color: #f2dede;
  color: #000000;
  padding: 5px 5px 5px 5px;
  border-radius: .25rem;
}

table[data-pageitemid="12256254"] {
  border: 1px solid #a94442;
  background-color: #f2dede;
  color: #000000;
  padding: 5px 5px 5px 5px;
  border-radius: .25rem;
}

table[data-pageitemid="12165898"] {
  border: 1px solid #a94442;
  background-color: #f2dede;
  color: #000000;
  padding: 5px 5px 5px 5px;
  border-radius: .25rem;
}


table[data-pageitemid="12165891"] {
  border: 1px solid #8a6d3b;
  background-color: #faf2cc;
  color: #000000;
  padding: 5px 5px 5px 5px;
  border-radius: .25rem;
}

table[data-pageitemid="12256247"] {
  border: 1px solid #8a6d3b;
  background-color: #faf2cc;
  color: #000000;
  padding: 5px 5px 5px 5px;
  border-radius: .25rem;
}




table[data-pageitemid="1"] {
  border-color: #3c763d;
  background-color: #dff0d8;
  color: #000000;
}

table[data-pageitemid="2"] {
  border: 1px solid #8a6d3b;
  background-color: #fcf8e3;
  color: #000000;
}

table[data-pageitemid="3"] {
  border: 1px solid #a94442;
  background-color: #f2dede;
  color: #000000;
}